# Load data

In [3]:
from pandas import DataFrame, read_csv

# Function to load the data
def load_data(
        data_file: str,
        n_rows: int | None = None,
) -> DataFrame:
    return read_csv(data_file, index_col='row_index', nrows=n_rows)

In [4]:
import pandas as pd

#train_data = file_manager.load_training_data()

# Load the data
train_file = '../X_train.csv'
test_file = '../X_test.csv'
n_rows = 100_000

test_data = load_data(test_file)
# Load the reduced dataset
tiny_train_data = load_data(train_file, n_rows=n_rows)

C:\Users\serra\AppData\Local\Temp\ipykernel_19144\3917375069.py:8: DtypeWarning: Columns (108,110,111,115,117,118,122,124,125,130,133,134) have mixed types. Specify dtype option on import or set low_memory=False.
  return read_csv(data_file, index_col='row_index', nrows=n_rows)
C:\Users\serra\AppData\Local\Temp\ipykernel_19144\3917375069.py:8: DtypeWarning: Columns (108,110,111,115,117,118,122,124,125,130,133,134) have mixed types. Specify dtype option on import or set low_memory=False.
  return read_csv(data_file, index_col='row_index', nrows=n_rows)

# Split raw data by variable category (piezo, weather, ...)

We are only interested in training data.

In [5]:
from pandas import DataFrame

# Function to extract variable category
def extract_category(
        df: DataFrame,
        category: str,
) -> DataFrame:
    return df[df.columns[df.columns.str.startswith(category)]]

In [6]:
# Display examples from the insee variables
insee_variables = extract_category(tiny_train_data, 'insee')
insee_variables.head()

,insee_%_agri,insee_pop_commune,insee_med_living_level,insee_%_ind,insee_%_const
row_index,,,,,
39,80,119.0,16180,0,0
62,2.3,733.0,20830,0,1.1
148,0.3,3868.0,21990,40.6,5.1
177,25.9,581.0,19200,14.8,3.7
179,18.4,511.0,20470,0,24.5

# Insee Information

In [7]:
# Display information about the insee variables
insee_variables.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 39 to 3293997
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   insee_%_agri            99007 non-null  object
 1   insee_pop_commune       99007 non-null  float64
 2   insee_med_living_level  99007 non-null  object
 3   insee_%_ind             99007 non-null  object
 4   insee_%_const           99007 non-null  object
dtypes: float64(1), object(4)
memory usage: 4.6+ MB